<div class="text-center">
<h1><%= @cocktail.name %></h1>
<%= link_to "Home Page", root_path, {:class => "btn btn-primary"} %>
<br>
<br>
<%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), {:class => "btn btn-success"} %>
<br>
<br>
<% @doses.each do |dose| %>
<strong>
<%= dose.ingredient.name %>
<%= ": " %>
</strong>
<%= dose.description %>
<br>
<%= link_to 'Delete Dosage', dose_path(dose), method: :delete, class: 'btn btn-danger' %>
<br>
<% end %>
</div>
