<div class="text-center">
<h1>New Ingredient for:  <%= @cocktail.name %></h1>
<%=  simple_form_for [@cocktail, @dose] do |f| %>
<%= f.error_notification %>
<%= f.input :description, label: "Amount (include units)" %>
<%= f.association :ingredient, collection: @ingredients %>
<%= f.button :submit %>
<% end %>
<br>
<%= link_to "Cocktail Page", cocktail_path(@cocktail), {:class => "btn btn-primary"} %>
</div>
